.advantages {
  color: var(--grey-dark);
  font-size: 14px;
  line-height: 18px;

  @media (--not-small-vp) {
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.advantages__item {
  position: relative;
  background-color: var(--grey-basic_background);
  padding: 24px 20px 22px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: var(--green);
    border-radius: 50%;

    @media (--middle-vp) {
      width: 200px;
      height: 200px;
      right: 60px;
      top: 92px;
    }

    @media (--wide-vp) {
      width: 100px;
      height: 100px;
      left: 52px;
      top: 47px;
    }
  }

  @media (--middle-vp) {
    padding: 77px 60px 57px 52px;
  }

  @media (--wide-vp) {
    padding: 47px 65px 59px 52px;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}

.advantages__item--slim {
  &::after {
    position: absolute;
    content: "";
    background-image: url("../../icons/sprite.svg#index-cat-slim");
    background-position: center;
    background-repeat: no-repeat;

    @media (--small-vp) {
      width: 50px;
      height: 50px;
      background-size: 50px;
      left: 22px;
      top: 21px;
    }

    @media (--middle-vp) {
      width: 200px;
      height: 200px;
      background-size: 200px;
      right: 61px;
      top: 81px;
    }

    @media (--wide-vp) {
      width: 100px;
      height: 100px;
      background-size: 100px;
      left: 52px;
      top: 41px;
    }
  }
}

.advantages__item--pro {
  &::after {
    position: absolute;
    content: "";
    background-image: url("../../icons/sprite.svg#index-cat-pro");
    background-position: center;
    background-repeat: no-repeat;

    @media (--small-vp) {
      width: 68px;
      height: 68px;
      background-size: 68px;
      left: 13px;
      top: 15px;
    }

    @media (--middle-vp) {
      width: 268px;
      height: 268px;
      background-size: 268px;
      right: 28px;
      top: 57px;
    }

    @media (--wide-vp) {
      width: 134px;
      height: 134px;
      background-size: 134px;
      left: 33px;
      top: 34px;
    }
  }
}

.advantages__title {
  display: block;
  font-family: var(--accent-font);
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 70px;

  @media (--not-small-vp) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (--middle-vp) {
    margin-left: 0;
  }

  @media (--wide-vp) {
    margin-left: 162px;
    margin-top: 30px;
    margin-bottom: 73px;
  }
}

.advantages__description {
  margin-bottom: 23px;

  @media (--middle-vp) {
    width: 57%;
  }
}

.advantages__button-link {
  --transform-arrow: -8px;
  position: relative;
  display: block;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 20px;
  z-index: 1;

  @media (--small-vp) {
    width: 100%;
    border-top: 1px solid var(--color-grey-base_border);
  }

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }

  &:focus {
    outline: none;
  }

  &:focus .advantages__button-text {
    outline: 2px solid var(--black);
  }

  &:focus:not(:focus-visible) .advantages__button-text {
    outline: none;
  }

  &:focus-visible .advantages__button-text {
    outline: 2px solid var(--black);
  }

  &:hover {
    --transform-arrow: 0;
  }

  &:active {
    opacity: 30%;
  }
}

.advantages__button-text {
  position: relative;
  display: block;
  width: fit-content;
  background-color: var(--grey-basic_background);
  --gap-arrow: 15px;
  padding-right: var(--gap-arrow);

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../icons/sprite.svg#index-icon-arrow");
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 12px;
    background-size: 32px;
    left: 100%;
    top: 50%;
    margin-left: var(--transform-arrow);
    margin-top: -6px;
    z-index: -1;
    transition: margin-left 0.3s;
  }

  @media (--not-small-vp) {
    --gap-arrow: 25px;
  }
}
