.advantages {
  color: var(--grey-dark);
  font-size: 14px;
  line-height: 18px;

  @media (--not-small-vp) {
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.advantages__item {
  background-color: var(--grey-basic_background);
  padding: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (--wide-vp) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}

.advantages__title {
  font-family: var(--accent-font);
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  margin: 0;

  @media (--not-small-vp) {
    font-size: 36px;
    line-height: 36px;
  }
}

.advantages__button-link {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}
