.button {
  font-family: var(--accent-font);
  font-weight: 400;
  width: fit-content;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--green);
  border: none;

  &:focus {
    outline: 2px solid var(--black);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--black);
    outline-offset: 2px;
  }

  &:hover {
    background-color: var(--green_hover);
  }

  &:active {
    background-color: var(--green_hover);
    color: var(--white-opacity);
  }

  &--size_wide {
    width: 100%;
  }
}
