.catalog-aside {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--white);
  --bg-url: url("../../img/catalog-bg-cat-s@1x.jpg");
  background:
    linear-gradient(
      var(--green_background),
      var(--green_background)
      ),
    var(--bg-url);
  width: 100%;
  height: 290px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-cat-catalog_background);
  text-align: center;

  @media (min-resolution: 2dppx) {
    --bg-url: url("../../img/catalog-bg-cat-s@2x.jpg");
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../icons/sprite.svg#catalog-icon-gift");
    width: 78px;
    height: 80px;
    top: 60px;
    left: 50%;
    margin-left: -39px;

    @media (--middle-vp) {
      top: 50%;
      margin-top: -40px;
      left: 116px;
    }
  }

  @media (--middle-vp) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 200px;
    text-align: left;
    --bg-url: url("../../img/catalog-bg-cat-m@1x.jpg");

    @media (min-resolution: 2dppx) {
      --bg-url: url("../../img/catalog-bg-cat-m@2x.jpg");
    }
  }

  @media (--wide-vp) {
    height: 100%;
    --bg-url: url("../../img/catalog-bg-cat-l@1x.jpg");

    @media (min-resolution: 2dppx) {
      --bg-url: url("../../img/catalog-bg-cat-l@2x.jpg");
    }
  }
}

.catalog-aside__description {
  padding-top: 187px;
  margin: 0;

  @media (--middle-vp) {
    margin-right: 124px;
    padding: 0;
  }
}
