.catalog-main__title {
  font-family: var(--accent-font);
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: var(--black);
  padding-top: 27px;
  margin-top: 0;
  margin-bottom: 40px;

  @media (--not-small-vp) {
    font-size: 60px;
    line-height: 60px;
  }
}
