.compare {
  color: var(--grey-dark);
  font-size: 14px;
  line-height: 18px;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: var(--grey_background);

  @media (--not-small-vp) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (--middle-vp) {
    border-top: 1px solid var(--color-grey_border);
    background-image: linear-gradient(to bottom, var(--white) 57%, var(--transparent) 43%);
    padding-top: 43px;
    padding-bottom: 60px;
  }

  @media (--wide-vp) {
    background-image: linear-gradient(to top, var(--transparent) 70%, var(--white) 30%);
    padding-top: 0;
    padding-bottom: 70px;
  }
}

.compare__wrapper-grid {
  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

.compare__title {
  font-family: var(--accent-font);
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 40px;

  @media (--not-small-vp) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (--middle-vp) {
    margin-bottom: 63px;
  }

  @media (--wide-vp) {
    grid-column: 1 / 2;
    margin-bottom: 146px;
    padding-top: 43px;
  }
}

.compare__description {
  margin-bottom: 20px;
  margin-top: 0;

  @media (--middle-vp) {
    margin-bottom: 54px;
  }

  @media (--wide-vp) {
    grid-column: 1 / 2;
    width: 436px;
    margin-bottom: 69px;
  }
}

.compare__container-list {
  @media (--not-small-vp) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  @media (--wide-vp) {
    flex-direction: column;
    justify-content: flex-start;
    grid-column: 1 / 2;
    margin-bottom: 0;
  }
}

.compare__effect-list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 30px;

  @media (--middle-vp) {
    width: 50%;
    margin-bottom: 0;
  }

  @media (--wide-vp) {
    width: 366px;
    margin-bottom: 60px;
  }
}

.compare__effect-frame {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 124px;
  border: 1px solid var(--color-grey-special_border);
  border-radius: 3px;

  @media (--not-small-vp) {
    width: 162px;
  }
}

.compare__effect-term {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  order: 2;
  padding-top: 9px;
  margin: 0 auto -12px;
  background-color: var(--grey_background);

  @media (--small-vp) {
    width: 82px;
  }

  @media (--not-small-vp) {
    font-size: 14px;
    line-height: 14px;
    padding-top: 11px;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-bottom: -7px;
  }

  @media (--middle-vp) {
    background-color: var(--white);
  }
}

.compare__effect-definition {
  font-family: var(--accent-font);
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  margin: 0;
  padding-top: 14.5px;

  @media (--not-small-vp) {
    font-size: 30px;
    line-height: 37px;
  }
}

.compare__expenses-list {
  display: flex;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  justify-content: center;
  margin: 0;

  @media (--not-small-vp) {
    width: 50%;
    font-size: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 15px;
  }

  @media (--wide-vp) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.compare__expenses-term {
  @media (--middle-vp) {
    margin-bottom: 9px;
  }
}

.compare__expenses-definition {
  margin-left: 3px;
}

.compare__range {
  @media (--wide-vp) {
    grid-column: 2 / -1;
    grid-row: 1 /-1;
  }
}

.compare__range-photos {
  width: 280px;
  display: grid;
  --image-slider: 280px;
  grid-template-columns: var(--image-slider) auto;
  grid-template-rows: 232px;
  margin: 0 auto;

  @media (--not-small-vp) {
    width: 592px;
    --image-slider: 296px;
    grid-template-rows: 511px;
  }
}

.compare__range-slider--before {
  grid-column: 1 / 2;
  grid-row: 1 /-1;
}

.compare__range-slider--after {
  grid-column: 2 / 3;
  grid-row: 1 /-1;
}

.compare__image {
  display: block;
  object-fit: cover;

  @media (--not-small-vp) {
    padding-top: 0;
  }
}


.range__image-before {
  width: 280px;
  height: 232px;
  object-position: left;

  @media (--not-small-vp) {
    width: 592px;
    height: 511px;
  }
}

.range__image-after {
  width: 243px;
  height: 232px;
  object-position: right;

  @media (--not-small-vp) {
    width: 536px;
    height: 511px;
  }
}

.compare__range-button {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  border: none;
  background-color: var(--transparent);
  --bottom-line: dotted;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline var(--bottom-line) var(--color-decoration_underline);
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;

    &:hover {
      --bottom-line: solid;
      cursor: pointer;
    }
  }

  &:focus {
    outline: 2px solid var(--black);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--black);
  }
}

.compare__range-scale {
  display: grid;
  box-sizing: border-box;
  width: 426px;
  height: 6px;
  margin-right: 13px;
  margin-left: 13px;
  background-color: var(--color-grey-special_border);
  border-radius: 6px;
  place-items: center;

  @media (--small-vp) {
    width: 86px;
    height: 14px;
    background-color: var(--white);
    border: 1px solid var(--color-grey-special_border);
    padding: 0 5px;
    place-items: center left;
  }
}

.compare__range-thumb {
  @media (--small-vp) {
    width: 36px;
    height: 6px;
    background-color: var(--green);
    border-radius: 6px;
  }

  @media (--not-small-vp) {
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    background-color: var(--white);
    border: 1px solid var(--color-grey-special_border);
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 var(--color-range_shadow);
    margin-top: -14px;
    background-image: radial-gradient(circle 4px, var(--green) 100%, var(--white) 100%);

    &:hover {
      box-shadow: 0 2px 4px 0 var(--color-range_shadow-hover);
      cursor: pointer;
    }

    &:active {
      box-shadow: 0 3px 5px 0 var(--color-range_shadow-active);
      border-color: var(--green);
    }
  }
}
