.contacts {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 20px;

  @media (--not-wide-vp) {
    background-color: var(--contacts-color, var(--transparent));
  }

  @media (--middle-vp) {
    padding: 56px 70px;
  }

  @media (--wide-vp) {
    width: 565px;
    height: 198px;
    padding: 56px 80px;
    background-color: var(--white);
  }
}

.contacts__cooperation {
  font-style: normal;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--black-light);
  text-transform: uppercase;
}

.contacts__text {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-dark);
}
