.contacts {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 26px 0;

  @media (--not-wide-vp) {
    background-color: var(--contacts-color, var(--transparent));
  }

  @media (--middle-vp) {
    padding: 56px 70px;
  }

  @media (--wide-vp) {
    width: 565px;
    min-height: 198px;
    padding: 56px 80px;
    background-color: var(--white);
  }
}

.contacts__cooperation {
  font-style: normal;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--black-light);
  text-transform: uppercase;
  grid-column: 1 / 2;
}

.contacts__text {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-dark);
  grid-column: 2 / -1;
}

.contacts__street,
.contacts__city {
  margin: 0;

  @media (--middle-vp) {
    text-align: right;
  }
}
