.copyright {
  font-size: 16px;
  line-height: 18px;
  align-self: flex-start;
  width: 100%;

  @media (--not-small-vp) {
    align-self: center;
  }
}

.copyright__link {
  position: relative;
  display: block;
  color: var(--grey-dark);
  text-decoration: none;
  margin-top: 18px;
  margin-bottom: 23px;
  padding: 10px 50px 10px 0;
  --color-situation: var(--grey-special);

  @media (--not-small-vp) {
    width: fit-content;
    margin-left: auto;
    margin-top: 25px;
  }

  &:focus {
    outline: 2px solid var(--black);
    outline-offset: 5px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--black);
    outline-offset: 5px;
  }

  &:hover {
    --color-situation: var(--green);
  }

  &:active {
    --color-situation: var(--green);
    opacity: 30%;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    background: var(--color-situation);
    mask-image: url("../../icons/sprite.svg#footer-logo-html");
    width: 35px;
    height: 100%;
    top: 2px;
    right: 0;
    margin-right: -5px;
  }
}
