.copyright {
  font-size: 16px;
  line-height: 18px;
  align-self: flex-start;
  width: 100%;

  @media (--not-small-vp) {
    align-self: center;
  }
}

.copyright__link {
  position: relative;
  display: block;
  color: var(--grey-dark);
  text-decoration: none;
  padding-top: 28px;
  padding-bottom: 32px;
  --color-situation: var(--grey-special);

  @media (--not-small-vp) {
    width: fit-content;
    padding-right: 50px;
    margin-left: auto;
  }

  &:focus {
    outline: 2px solid var(--black);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--black);
  }

  &:hover {
    --color-situation: var(--green);
  }

  &:active {
    --color-situation: var(--green);
    opacity: 30%;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    mask-repeat: no-repeat;
    mask-position: center;
    background: var(--color-situation);
    mask-image: url("../../icons/sprite.svg#footer-logo-html");
    width: 27px;
    height: 34px;
    top: 22px;
    right: 0;
  }
}
