.form-cat {
  font-size: 16px;
  line-height: 18px;
  color: var(--grey-dark);
  text-transform: uppercase;
  border: none;
  padding: 20px 0;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (--wide-vp) {
    grid-column: 1 / 2;
  }
}

.form-cat__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-cat__item {
  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.form-cat__field {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--grey-dark);
  text-transform: uppercase;
  flex-grow: 1;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-cat__label {
  display: flex;
}
