.form-selection {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  font-weight: 400;

  @media (--middle-vp) {
    padding-left: 40px;
    padding-right: 37px;
  }
}

.form-selection__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: var(--black);
  padding-top: 27px;
  margin-top: 0;
  margin-bottom: 37px;

  @media (--not-small-vp) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 55px;
  }
}

.form-selection__description {
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 39px;
  text-transform: uppercase;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form-selection__attention {
  display: block;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--black);

  @media (--not-small-vp) {
    font-size: 16px;
    align-self: center;
  }
}

.form-selection__set {
  margin: 0;
  padding: 0;
}

.form-selection__set--owner {
  margin-top: 25px;
  margin-bottom: 24px;

  @media (--not-small-vp) {
    margin-top: 75px;
    margin-bottom: 65px;
  }

  @media (--wide-vp) {
    margin-top: 70px;
    margin-bottom: 67px;
  }
}

.form-selection__dispatch-set {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  @media (--small-vp) {
    text-align: center;
  }

  @media (--not-small-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-bottom: 72px;
  }

  @media (--wide-vp) {
    column-gap: 80px;
    grid-column: 1 / -1;
    margin-bottom: 82px;
  }
}

.form-selection__commentary {
  margin-bottom: 23px;

  @media (--not-small-vp) {
    margin-bottom: 65px;
  }

  @media (--wide-vp) {
    margin-bottom: 67px;
  }
}
