.form-commentary {
  padding: 20px 0;

  @media (--wide-vp) {
    grid-column: 1 / -1;
  }
}

.form-commentary__label {
  display: block;
  font-size: 24px;
  line-height: 26px;
  color: var(--black);
  margin-bottom: 38px;

  @media (--not-small-vp) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.form-commentary__field {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--grey-dark);
  text-transform: uppercase;
  width: 100%;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}
