.form {
  display: flex;
  flex-direction: column;

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__button {
  width: 100%;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 26px;
    width: 50%;
  }
}
