.form-radio {
  font-size: 16px;
  line-height: 18px;
  color: var(--grey-dark-special);
  text-transform: uppercase;
  border: none;
  padding: 20px 0;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (--wide-vp) {
    grid-column: 2 / -1;
  }
}

.form-radio__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form-radio__item {
  &:not(:last-child) {
    margin-bottom: 13px;
  }
}
