.form-commentary {
  @media (--wide-vp) {
    grid-column: 1 / -1;
  }
}

.form-commentary__label {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 26px;
  color: var(--black);
  margin-bottom: 37px;
  width: fit-content;
  --air-gap: 20px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    top: 50%;
    background-color: var(--green);
    width: calc(100vw - 100% - var(--air-gap));
    right: calc(100% + var(--air-gap));
    box-shadow: calc(100vw + var(--air-gap)) 0 0 0 var(--green);
  }

  @media (--not-small-vp) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 75px;
    --air-gap: 40px;
  }
}

.form-commentary__field {
  box-sizing: border-box;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--grey-dark);
  text-transform: uppercase;
  width: 100%;
  min-height: 150px;
  padding: 9px 12px 9px 14px;
  border: 1px solid var(--color-form_border);

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
    padding: 10px 18px;
  }

  &:focus {
    outline: 2px solid var(--grey-dark);
    outline-offset: -2px;
  }

  &:focus:not(:focus-visible) {
    outline: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--grey-dark);
    outline-offset: -2px;
  }

  &:hover {
    outline: 1px solid var(--color-grey-special_border);
    outline-offset: -1px;
    appearance: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
