.form {
  display: flex;
  flex-direction: column;

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  padding: 10px 45px;
  margin-bottom: 21px;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 26px;
    padding: 13px 45px;
    margin-bottom: 0;
  }
}
