.form-selection {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  font-weight: 400;
}

.form-selection__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: var(--black);
  padding-top: 27px;
  margin-top: 0;
  margin-bottom: 37px;

  @media (--not-small-vp) {
    font-size: 60px;
    line-height: 60px;
  }
}

.form-selection__description {
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-selection__attention {
  display: block;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--black);
  padding-top: 20px;

  @media (--not-small-vp) {
    font-size: 16px;
    width: 50%;
  }
}

.form-selection__set {
  margin: 0;
  padding: 0;
}

.form-selection__dispatch-set {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  text-align: center;

  @media (--not-small-vp) {
    flex-direction: row;
  }

  @media (--wide-vp) {
    grid-column: 1 / -1;
  }
}
