.main-nav {
  position: relative;
  font-family: var(--accent-font);
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  &--within_index {
    --link-color: var(--white);

    @media (--wide-vp) {
      &::before {
        content: "";
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--green_background);
      }
    }
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;

  @media (--not-small-vp) {
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (--wide-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-nav__item {
  padding: 10px 0;

  @media (--not-small-vp) {
    padding: 10px;
  }
}

.main-nav__link {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;

  @media (--wide-vp) {
    color: var(--link-color, var(--black));
  }
}
