.page-footer {
  background-color: var(--grey-basic_background);

  &--within_index {
    --contacts-color: var(--white);
  }
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (--not-small-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.page-footer__location {
  background-color: var(--grey_background);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @media (--wide-vp) {
    grid-row: 1 / -1;
    grid-column: 1 /-1;
  }
}

.page-footer__iframe {
  display: block;
  border: none;
  width: 100%;
  height: 362px;
  grid-row: 1 / -1;
  grid-column: 1 /-1;

  @media (--not-small-vp) {
    height: 400px;
  }
}

.page-footer__noscript {
  grid-row: 1 / -1;
  grid-column: 1 /-1;
}

.page-footer__wrapper-grid {
  background-color: var(--contacts-color, var(--transparent));

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.page-footer__contacts {
  @media (--wide-vp) {
    margin-top: 98px;
    grid-row: 1 / -1;
    grid-column: 1 /-1;
    z-index: 2;
  }
}

.page-footer__logo-link {
  &:focus {
    outline: 2px solid var(--black);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
    outline-offset: revert;
  }

  &:focus-visible {
    outline: 2px solid var(--black);
    outline-offset: 2px;
  }

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.page-footer__logo-title {
  padding-top: 39px;
  padding-bottom: 32px;
}
