.page-footer__contacts {
  padding: 20px;
}

.page-footer__logo {
  padding: 20px;
  background-color: var(--grey-basic_background);
}

.page-footer__social {
  padding: 20px;
  background-color: var(--grey-basic_background);
}

.page-footer__copyright {
  font-size: 16px;
  line-height: 18px;
  padding: 20px;
  background-color: var(--grey-basic_background);
}

.page-footer__iframe {
  border: none;
}
