.page-header {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (--not-small-vp) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px 0;
  }

  @media (--wide-vp) {
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
  }
}

.page-header__wrapper-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 17px;

  @media (--small-vp) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: -20px;
      bottom: 0;
      background-color: var(--color-grey_border);
      box-shadow: 40px 0 0 0 var(--color-grey_border);
    }
  }
}

.page-header__logo-link {
  text-decoration: none;
}

.page-header__logo-link--title {
  margin: 0 auto;
  padding-right: 33px;

  @media (--not-small-vp) {
    padding-right: 0;
    margin-left: 10px;
  }
}

.page-header__main-nav {
  @media (--not-small-vp) {
    margin-right: -17.5px;
  }
}
