.page-footer {
  background-color: var(--grey-basic_background);
}

.page-footer__container {
  display: flex;
  flex-direction: column;

  @media (--middle-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1220px;
  }
}

.page-footer__iframe {
  border: none;
  width: 100%;
  height: 362px;

  @media (--middle-vp) {
    height: 400px;
  }

  @media (--wide-vp) {
    height: 400px;
  }
}

.page-footer__copyright {
  font-size: 16px;
  line-height: 18px;
}

.page-footer__wrapper_grid {
  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

.page-footer__contacts {
  @media (--wide-vp) {
    margin-top: 98px;
    grid-row: 1 / -1;
    grid-column: 1 /-1;
    z-index: 2;
  }
}

.page-footer__location {
  @media (--wide-vp) {
    grid-row: 1 / -1;
    grid-column: 1 /-1;
  }
}
