.product-add {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content auto min-content;

  @media (--not-small-vp) {
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: auto min-content;
  }

  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr;
    column-gap: 38px;
  }
}

.product-add__title {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 20px;
    grid-column: 1 / 3;
  }

  @media (--wide-vp) {
    grid-column: 1 / 2;
  }
}

.product-add__link {
  color: var(--grey-dark-special);
  text-decoration: none;
}

.product-add__quantity,
.product-add__price {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: var(--grey-dark);
  margin: 0;

  @media (--not-small-vp) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-add__quantity {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @media (--not-small-vp) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-left: auto;
  }

  @media (--wide-vp) {
    grid-column: 2 / 3;
    margin-left: 0;
    margin-right: auto;
  }
}

.product-add__price {
  text-transform: uppercase;
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  margin-left: auto;

  @media (--not-small-vp) {
    padding-left: 50px;
    grid-row: 1 / 2;
  }

  @media (--wide-vp) {
    grid-column: 3 / 4;
  }
}

.product-add__order {
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  margin-left: 0;
  grid-column: 1 / -1;
  grid-row: -1 / -2;

  @media (--wide-vp) {
    margin-top: 0;
    grid-column: -1 / -2;
    grid-row: 1 / 2;
  }
}

.product-add__button {
  display: grid;
  width: 100%;
  place-items: center;
}
