.selection {
  display: flex;
  flex-direction: column;
  font-family: var(--accent-font);
  color: var(--white);
  --bg-url: url("../../img/index-bg-cat-s@1x.jpg");


  @media (--small-vp) {
    position: relative;
    text-align: center;
  }

  &::before {
    position: absolute;
    content: "";
    background:
      linear-gradient(
        var(--green_background),
        var(--green_background)
        ),
      var(--bg-url);
    width: 100%;
    height: 302px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-cat_background);
    z-index: -1;

    @media (--x2) {
      --bg-url: url("../../img/index-bg-cat-s@2x.jpg");
    }

    @media (--middle-vp) {
      content: initial;
    }

    @media (--wide-vp) {
      right: 0;
      top: 0;
      width: 50%;
      height: 694px;
      --bg-url: url("../../img/index-bg-cat-l@1x.jpg");
      background-position: bottom right;

      @media (--x2) {
        --bg-url: url("../../img/index-bg-cat-l@2x.jpg");
      }
    }
  }
}

.selection__wrapper {
  @media (--not-small-vp) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  @media (--wide-vp) {
    grid-template-columns: 1fr 1fr;
  }
}

.selection__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 25px;
  margin-top: 0;
  margin-bottom: 25px;

  @media (--not-small-vp) {
    font-size: 60px;
    line-height: 60px;
    color: var(--black);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-left: 87px;
  }

  @media (--wide-vp) {
    margin-top: 0;
    margin-left: 80px;
  }
}

.selection__slogan {
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;

  @media (--not-small-vp) {
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    margin-top: 180px;
    margin-left: 87px;
  }

  @media (--wide-vp) {
    margin-top: 230px;
    margin-left: 80px;
  }
}

.selection__image-set {
  margin: 0 auto;

  @media (--not-small-vp) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    z-index: -1;
    margin-top: 220px;
  }

  @media (--wide-vp) {
    grid-column: 2 / -1;
    margin-top: 0;
    margin-left: -150px;
  }
}

.selection__image {
  display: block;
  padding-top: 25px;
  margin: 0 auto;

  @media (--not-small-vp) {
    width: 709px;
    height: 609px;
  }

  @media (--wide-vp) {
    width: 552px;
    height: 499px;
  }
}

.selection__button-link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 0;
  width: 100%;
  margin-bottom: 20px;

  @media (--not-small-vp) {
    box-sizing: border-box;
    font-size: 20px;
    line-height: 20px;
    width: 244px;
    height: 54px;
    padding: 14px 26px;
    grid-column: 1 /-1;
    grid-row: 1 / -1;
    margin-top: 250px;
    margin-left: 87px;
  }

  @media (--wide-vp) {
    margin-top: 300px;
    margin-left: 80px;
  }
}
