.technologies {
  color: var(--grey-dark);
  font-size: 14px;
  line-height: 18px;
  padding: 20px 0;

  @media (--not-small-vp) {
    font-size: 16px;
    line-height: 24px;
  }
}

.technologies__title {
  font-family: var(--accent-font);
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 40px;

  @media (--not-small-vp) {
    font-size: 60px;
    line-height: 60px;
  }
}

.technologies__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: counter-container;

  @media (--not-small-vp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (--wide-vp) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
  }
}

.technologies__item {
  position: relative;
  margin-top: 0;
  min-height: 60px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: var(--green);

    @media (--not-small-vp) {
      width: 80px;
      height: 80px;
      left: 0;
      top: 40px;
    }
  }

  &--icon_leaf::before {
    background-image: url("../../icons/sprite.svg#index-icon-leaf");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
  }

  &--icon_tub::before {
    background-image: url("../../icons/sprite.svg#index-icon-tub");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 31px 31px;
  }

  &--icon_eat::before {
    background-image: url("../../icons/sprite.svg#index-icon-eat");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
  }

  &--icon_alarm::before {
    background-image: url("../../icons/sprite.svg#index-icon-alarm");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 33px 33px;
  }

  @media (--not-small-vp) {
    min-height: 280px;

    &::after {
      counter-increment: counter-container;
      content: "" counter(counter-container) "";
      position: absolute;
      font-family: var(--accent-font);
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: var(--grey-basic_background);
      z-index: -1;
      left: 118px;
      top: 0;
    }
  }
}

.technologies__description {
  display: block;
  margin-left: 80px;
  width: 70%;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 2px;

  @media (--not-small-vp) {
    margin-top: 150px;
    margin-left: 0;
    width: 80%;
  }

  @media (--wide-vp) {
    width: 100%;
  }
}
