.technologies {
  color: var(--grey-dark);
  font-size: 14px;
  line-height: 18px;
  padding: 20px 0;

  @media (--not-small-vp) {
    font-size: 16px;
    line-height: 24px;
  }
}

.technologies__title {
  font-family: var(--accent-font);
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 40px;

  @media (--not-small-vp) {
    font-size: 60px;
    line-height: 60px;
  }
}

.technologies__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--not-small-vp) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.technologies__item {
  margin-top: 0;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (--not-small-vp) {
    width: 50%;
    min-height: 280px;
  }

  @media (--wide-vp) {
    width: 25%;
  }
}
