:root {
  --white: #ffffff;
  --black: #000000;
  --black-light: #111111;
  --green: #68b738;
  --grey-dark-special: #222222;
  --grey-dark: #444444;
  --grey-special: #666666;
  --grey-basic_background: #f2f2f2;
  --grey_background: #eaeaea;
  --green_background: rgba(104, 183, 56, 0.85);
  --transparent: rgba(0, 0, 0, 0);
}
