{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{%- import "./templates/macros.twig" as macros -%}

<!DOCTYPE html>
<html class="page" lang="ru">
{% include "./templates/head.twig" %}

<body class="page__body">
  {% include "./templates/header.twig" %}

  <main class="page-main catalog-main page__wrapper-center">
    <h1 class="catalog-main__title">Каталог продукции</h1>

    <section class="catalog">
      <h2 class="page__hidden">Товары каталога.</h2>

      <ul class="catalog__list">
        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat&nbsp;Energy PRO 500&nbsp;г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            {{ macros.picture("product__image", "./img/", "can-chicken500", "png", "Баночка куриной консервы «Кэт энерджи» Про 500 г.", "84", "112") }}
          </a>

          <dl class="product__specification">
            <div class="product__specification-set">
              <dt class="product__term">Масса</dt>
              <dd class="product__definition">500 г</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Вкус</dt>
              <dd class="product__definition">Курица</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Цена</dt>
              <dd class="product__definition product__definition--price">700 p.</dd>
            </div>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat&nbsp;Energy PRO 1000&nbsp;г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            {{ macros.picture("product__image", "./img/", "can-chicken1000", "png", "Баночка куриной консервы «Кэт энерджи» Про 1000 г.", "84", "112") }}
          </a>
          <dl class="product__specification">
            <div class="product__specification-set">
              <dt class="product__term">Масса</dt>
              <dd class="product__definition">1000 г</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Вкус</dt>
              <dd class="product__definition">Курица</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Цена</dt>
              <dd class="product__definition product__definition--price">1000 p.</dd>
            </div>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat&nbsp;Energy PRO 500&nbsp;г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            {{ macros.picture("product__image", "./img/", "can-fish500", "png", "Баночка рыбной консервы «Кэт энерджи» Про 500 г.", "84", "112") }}
          </a>
          <dl class="product__specification">
            <div class="product__specification-set">
              <dt class="product__term">Масса</dt>
              <dd class="product__definition">500 г</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Вкус</dt>
              <dd class="product__definition">Рыба</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Цена</dt>
              <dd class="product__definition product__definition--price">700 p.</dd>
            </div>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat&nbsp;Energy PRO 1000&nbsp;г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            {{ macros.picture("product__image", "./img/", "can-fish1000", "png", "Баночка рыбной консервы «Кэт энерджи» Про 1000 г.", "84", "112") }}
          </a>
          <dl class="product__specification">
            <div class="product__specification-set">
              <dt class="product__term">Масса</dt>
              <dd class="product__definition">1000 г</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Вкус</dt>
              <dd class="product__definition">Рыба</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Цена</dt>
              <dd class="product__definition product__definition--price">1000 p.</dd>
            </div>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat&nbsp;Energy slim 500&nbsp;г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            {{ macros.picture("product__image", "./img/", "can-buckwheat500", "png", "Баночка гречневой консервы «Кэт энерджи» Слим 500 г.", "84", "112") }}
          </a>
          <dl class="product__specification">
            <div class="product__specification-set">
              <dt class="product__term">Масса</dt>
              <dd class="product__definition">500 г</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Вкус</dt>
              <dd class="product__definition">Гречка</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Цена</dt>
              <dd class="product__definition product__definition--price">400 p.</dd>
            </div>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat&nbsp;Energy slim 1000&nbsp;г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            {{ macros.picture("product__image", "./img/", "can-buckwheat1000", "png", "Баночка гречневой консервы «Кэт энерджи» Слим 1000 г.", "84", "112") }}
          </a>
          <dl class="product__specification">
            <div class="product__specification-set">
              <dt class="product__term">Масса</dt>
              <dd class="product__definition">1000 г</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Вкус</dt>
              <dd class="product__definition">Гречка</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Цена</dt>
              <dd class="product__definition product__definition--price">700 p.</dd>
            </div>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat&nbsp;Energy slim 500&nbsp;г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            {{ macros.picture("product__image", "./img/", "can-rice500", "png", "Баночка рисовой консервы «Кэт энерджи» Слим 500 г.", "84", "112") }}
          </a>
          <dl class="product__specification">
            <div class="product__specification-set">
              <dt class="product__term">Масса</dt>
              <dd class="product__definition">500 г</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Вкус</dt>
              <dd class="product__definition">Рис</dd>
            </div>
            <div class="product__specification-set">
              <dt class="product__term">Цена</dt>
              <dd class="product__definition product__definition--price">500 p.</dd>
            </div>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product product--more">
          <a class="product__link product__link--more" href="#">
            <h3 class="product__title product__title--more">Показать еще 100500 товаров</h3>
          </a>
          <p class="product__description">На самом деле вкусов гораздо больше!</p>
          <a class="button product__button product__button--more_color" href="#">Показать все</a>
        </li>
      </ul>
    </section>

    <section class="page-main__catalog-add catalog-add">
      <h2 class="catalog-add__title">Дополнительные товары</h2>

      <dl class="catalog-add__list">
        <div class="catalog-add__card product-add">
          <dt class="product-add__title">
            <a class="product-add__link" href="#">Сахарозаменитель</a>
          </dt>
          <dd class="product-add__quantity">1 упаковка (100 г)</dd>
          <dd class="product-add__price">200 p.</dd>
          <dd class="product-add__order">
            <a class="button product-add__button" href="#">Заказать</a>
          </dd>
        </div>

        <div class="catalog-add__card product-add">
          <dt class="product-add__title">
            <a class="product-add__link" href="#">Питьевая вода</a>
          </dt>
          <dd class="product-add__quantity">5 литров</dd>
          <dd class="product-add__price">50 p.</dd>
          <dd class="product-add__order">
            <a class="button product-add__button" href="#">Заказать</a>
          </dd>
        </div>

        <div class="catalog-add__card product-add">
          <dt class="product-add__title">
            <a class="product-add__link" href="#">Молоко</a>
          </dt>
          <dd class="product-add__quantity">1 литр</dd>
          <dd class="product-add__price">100 p.</dd>
          <dd class="product-add__order">
            <a class="button product-add__button" href="#">Заказать</a>
          </dd>
        </div>

        <div class="catalog-add__card product-add">
          <dt class="product-add__title">
            <a class="product-add__link" href="#">Витамины</a>
          </dt>
          <dd class="product-add__quantity">1 упаковка (30 г)</dd>
          <dd class="product-add__price">300 p.</dd>
          <dd class="product-add__order">
            <a class="button product-add__button" href="#">Заказать</a>
          </dd>
        </div>
      </dl>

      <aside class="catalog-add__aside catalog-aside">
        <div class="catalog-aside__description">
          <p class="catalog-aside__description-text">Закажите все<br>и получите чехол для<br>кота в подарок!</p>
        </div>
        </aside>
    </section>

  </main>

  {% include "./templates/footer.twig" %}
  </body>

</html>
