{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}

<!DOCTYPE html>
<html class="page" lang="ru">
{% include "./templates/head.twig" %}

<body class="page__body">
  {% include "./templates/header.twig" %}

  <main class="page-main catalog-main page__wrapper_center">
    <h1 class="catalog-main__title">Каталог продукции</h1>

    <section class="catalog">
      <h2 class="page__hidden">Товары каталога.</h2>

      <ul class="catalog__list">
        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat Energy PRO 500 г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            <img class="product__image" src="#" alt="Баночка куриной консервы «Кэт энерджи Про 500 г.">
          </a>
          <dl class="product__specification">
            <dt class="product__term">Масса</dt>
            <dd class="product__definition">500 г</dd>
            <dt class="product__term">Вкус</dt>
            <dd class="product__definition">Курица</dd>
            <dt class="product__term">Цена</dt>
            <dd class="product__definition">700 p.</dd>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat Energy PRO 1000 г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            <img class="product__image" src="#" alt="Баночка куриной консервы «Кэт энерджи Про 1000 г.">
          </a>
          <dl class="product__specification">
            <dt class="product__term">Масса</dt>
            <dd class="product__definition">1000 г</dd>
            <dt class="product__term">Вкус</dt>
            <dd class="product__definition">Курица</dd>
            <dt class="product__term">Цена</dt>
            <dd class="product__definition">1000 p.</dd>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat Energy PRO 500 г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            <img class="product__image" src="#" alt="Баночка рыбной консервы «Кэт энерджи Про 500 г.">
          </a>
          <dl class="product__specification">
            <dt class="product__term">Масса</dt>
            <dd class="product__definition">500 г</dd>
            <dt class="product__term">Вкус</dt>
            <dd class="product__definition">Рыба</dd>
            <dt class="product__term">Цена</dt>
            <dd class="product__definition">700 p.</dd>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat Energy PRO 1000 г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            <img class="product__image" src="#" alt="Баночка рыбной консервы «Кэт энерджи Про 1000 г.">
          </a>
          <dl class="product__specification">
            <dt class="product__term">Масса</dt>
            <dd class="product__definition">1000 г</dd>
            <dt class="product__term">Вкус</dt>
            <dd class="product__definition">Рыба</dd>
            <dt class="product__term">Цена</dt>
            <dd class="product__definition">1000 p.</dd>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat Energy slim 500 г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            <img class="product__image" src="#" alt="Баночка гречневой консервы «Кэт энерджи Слим 500 г.">
          </a>
          <dl class="product__specification">
            <dt class="product__term">Масса</dt>
            <dd class="product__definition">500 г</dd>
            <dt class="product__term">Вкус</dt>
            <dd class="product__definition">Гречка</dd>
            <dt class="product__term">Цена</dt>
            <dd class="product__definition">400 p.</dd>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat Energy slim 1000 г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            <img class="product__image" src="#" alt="Баночка гречневой консервы «Кэт энерджи Слим 1000 г.">
          </a>
          <dl class="product__specification">
            <dt class="product__term">Масса</dt>
            <dd class="product__definition">1000 г</dd>
            <dt class="product__term">Вкус</dt>
            <dd class="product__definition">Гречка</dd>
            <dt class="product__term">Цена</dt>
            <dd class="product__definition">700 p.</dd>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product">
          <a class="product__link product__link--title" href="#">
            <h3 class="product__title">Cat Energy slim 500 г</h3>
          </a>
          <a class="product__link product__link--image" href="#">
            <img class="product__image" src="#" alt="Баночка рисовой консервы «Кэт энерджи Слим 500 г.">
          </a>
          <dl class="product__specification">
            <dt class="product__term">Масса</dt>
            <dd class="product__definition">500 г</dd>
            <dt class="product__term">Вкус</dt>
            <dd class="product__definition">Рис</dd>
            <dt class="product__term">Цена</dt>
            <dd class="product__definition">500 p.</dd>
          </dl>
          <a class="button product__button" href="#">Заказать</a>
        </li>

        <li class="catalog__card product product--more">
          <a class="product__link product__link--more" href="#">
            <h3 class="product__title product__title--more">Показать еще 100500 товаров</h3>
          </a>
          <p class="product__description product__description--more">На самом деле вкусов гораздо больше!</p>
          <a class="button product__button product__button--more_color" href="#">Показать все</a>
        </li>
      </ul>
    </section>

    <section class="catalog-add">
      <h2 class="catalog-add__title">Дополнительные товары</h2>

      <dl class="catalog-add__list">
        <div class="catalog-add__card product-add">
          <dt class="product-add__title">
            <a class="product-add__link" href="#">Сахарозаменитель</a>
          </dt>
          <dd class="product-add__wrapper_flex">
            <span class="product-add__quantity">1 упаковка (100 г)</span>
            <span class="product-add__price">200 p.</span>
          </dd>
          <dd class="product-add__order">
            <a class="button product-add__button" href="#">Заказать</a>
          </dd>
        </div>

        <div class="catalog-add__card product-add">
          <dt class="product-add__title">
            <a class="product-add__link" href="#">Питьевая вода</a>
          </dt>
          <dd class="product-add__wrapper_flex">
            <span class="product-add__quantity">5 литров</span>
            <span class="product-add__price">50 p.</span>
          </dd>
          <dd class="product-add__order">
            <a class="button product-add__button" href="#">Заказать</a>
          </dd>
        </div>

        <div class="catalog-add__card product-add">
          <dt class="product-add__title">
            <a class="product-add__link" href="#">Молоко</a>
          </dt>
          <dd class="product-add__wrapper_flex">
            <span class="product-add__quantity">1 литр</span>
            <span class="product-add__price">100 p.</span>
          </dd>
          <dd class="product-add__order">
            <a class="button product-add__button" href="#">Заказать</a>
          </dd>
        </div>

        <div class="catalog-add__card product-add">
          <dt class="product-add__title">
            <a class="product-add__link" href="#">Витамины</a>
          </dt>
          <dd class="product-add__wrapper_flex">
            <span class="product-add__quantity">1 упаковка (30 г)</span>
            <span class="product-add__price">300 p.</span>
          </dd>
          <dd class="product-add__order">
            <a class="button product-add__button" href="#">Заказать</a>
          </dd>
        </div>
      </dl>

      <aside class="catalog-add__aside catalog-aside">
        <p class="catalog-aside__description">Закажите все<br>и получите чехол для<br>кота в подарок!</p>
      </aside>
    </section>

  </main>

  {% include "./templates/footer.twig" %}
  </body>

</html>
