{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{%- import "./templates/macros.twig" as macros -%}

<!DOCTYPE html>
<html class="page" lang="ru">
{% include "./templates/head.twig" %}

<body class="page__body">
  {% include "./templates/header.twig" %}

  <main class="page-main">
    <h1 class="page__hidden">Форма подбора индивидуалной программы питания от «Кэт энерджи».</h1>
    <section class="form-selection page__wrapper-center">
      <h2 class="form-selection__title">Подбор программы</h2>
      <p class="form-selection__description">Заполните анкету, и мы подберем<br>программу питания для вашего кота</p>
      <form class="form-selection__list form" action="https://echo.htmlacademy.ru/" method="get">

        <fieldset class="form-selection__set form-cat">
          <legend class="page__hidden">Сведения о коте:</legend>
          <ul class="form-cat__list">
            <li class="form-cat__item">
              <label class="form-cat__label">Имя:*
                <input class="form-cat__field" placeholder="Барсик" type="text" name="nickname-cat" required>
              </label>
            </li>
            <li class="form-cat__item">
              <label class="form-cat__label">Вес&nbsp;(кг):*
                <input class="form-cat__field" placeholder="7" type="number" name="weight-cat" required>
              </label>
            </li>
            <li class="form-cat__item">
              <label class="form-cat__label">Возраст&nbsp;(лет):
                <input class="form-cat__field" placeholder="7" type="number" name="years-cat">
              </label>
            </li>
          </ul>
        </fieldset>

        <fieldset class="form-selection__set form-radio">
          <legend class="page__hidden">Создание цели:</legend>
          <ul class="form-radio__list">
            <li class="form-radio__item">
              <label class="form-radio__label">
                <input class="form-radio__input" type="radio" name="goal" value="slimming-cat" checked>
                <span class="form-radio__control-label">Похудение</span>
              </label>
            </li>
            <li class="form-radio__item">
              <label class="form-radio__label">
                <input class="form-radio__input" type="radio" name="goal" value="mass-cat">
                <span class="form-radio__control-label">Набор массы</span>
              </label>
            </li>
            <li class="form-radio__item">
              <label class="form-radio__label">
                <input class="form-radio__input" type="radio" name="goal" value="nutritional-advice">
                <span class="form-radio__control-label">Не знаю (Нужен ваш совет)</span>
              </label>
            </li>
          </ul>
        </fieldset>

        <fieldset class="form-selection__set form-selection__set--owner form-owner">
          <legend class="form-owner__legend">
            <span class="form-owner__legend-text form-owner__legend-text_margin">Контактные данные</span>
            <span class="form-owner__legend-text">(владельца кота)</span>
          </legend>
          <ul class="form-owner__list">
            <li class="form-owner__item">
              <label class="form-owner__label">E-mail:*
                <input class="form-owner__field form-owner__field--email" type="email" placeholder="kuklachev@gmail.com" name="email" required>
                <span class="form-owner__icon form-owner__icon--email"></span>
              </label>
            </li>
            <li class="form-owner__item">
              <label class="form-owner__label">Телефон:*
                <input class="form-owner__field form-owner__field--phone" type="tel" placeholder="8 (960) 900-60-90" pattern="[8] [(][0-9]{3}[)] [0-9]{3}[-][0-9]{2}[-][0-9]{2}" name="phone" required>
                <span class="form-owner__icon form-owner__icon--phone"></span>
              </label>
            </li>
          </ul>
        </fieldset>

        <div class="form-selection__commentary form-commentary">
          <label class="form-commentary__label" for="commentary">Комментарий</label>
          <textarea class="form-commentary__field" id="commentary" name="commentary">Расскажите обо всех повадках кота</textarea>
        </div>

        <fieldset class="form-selection__set form-checkbox">
          <legend class="form-checkbox__legend">Дополнительно</legend>
          <ul class="form-checkbox__list">
            <li class="form-checkbox__item">
              <label class="form-checkbox__label">
                <input class="form-checkbox__control-input" type="checkbox" name="additional" value="sweetener" checked>
                <span class="form-checkbox__control-label">Cахарозаменитель</span>
              </label>
            </li>
            <li class="form-checkbox__item">
              <label class="form-checkbox__label">
                <input class="form-checkbox__control-input" type="checkbox" name="additional" value="water">
                <span class="form-checkbox__control-label">Питьевая вода</span>
              </label>
            </li>
            <li class="form-checkbox__item">
              <label class="form-checkbox__label">
                <input class="form-checkbox__control-input" type="checkbox" name="additional" value="milk">
                <span class="form-checkbox__control-label">Молоко</span>
              </label>
            </li>
            <li class="form-checkbox__item">
              <label class="form-checkbox__label">
                <input class="form-checkbox__control-input" type="checkbox" name="additional" value="vitamins">
                <span class="form-checkbox__control-label">Витамины</span>
              </label>
            </li>
          </ul>
        </fieldset>

        <div class="form-selection__dispatch-set">
          <button class="button form__button" type="submit">Отправить заявку</button>
          <strong class="form-selection__attention">* — Обязательные поля</strong>
        </div>
      </form>

    </section>

  </main>

  {% include "./templates/footer.twig" %}
  </body>

</html>
